# Python artifacts
__pycache__/
*.pyc
backend/.venv/

# Node.js artifacts
node_modules/
.next/
out/

# Environment variables
.env
.env.local
.env*.local

# macOS files
*.DS_Store

# Xcode/SwiftUI
*.xcuserdatad
*.xcworkspace
DerivedData/
build/
.build/  # Swift Package Manager
xcuserdata/
*.xcscmblueprint
APIConfig.plist

# Logs
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# Build artifacts
dist/
build/

# Frontend testing
coverage/

# Frontend misc
*.pem
next-env.d.ts
*.tsbuildinfo

# Frontend vercel
.vercel
